# Object files
*.o
*.eep
*.elf
*.hex
*.lss
*.map
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Eclipse workspace meta data
/.metadata

# other
Karol-RTC.rar
Karol-RTC/*
ArduinoUNO/*
.settings*